INGESTION_SECRET="your-super-secret-access-key-change-this-in-production-min-32-chars"
JWT_SECRET="your-super-secret-access-key-change-this-in-production-min-32-chars"
JWT_ACCESS_SECRET="your-super-secret-access-key-change-this-in-production-min-32-chars"
INGESTION_DATABASE_URL="postgresql://user:password@localhost:5432/fresherflow_jobs?schema=public"
PORT=3005
